[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/IconFontCppHeaders"]
	path = libs/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "libs/implot"]
	path = libs/implot
	url = https://github.com/epezent/implot.git
