[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/TobiDeBoumaa/glfw-darkMode.git
[submodule "libs/IconFontCppHeaders"]
	path = libs/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "libs/implot"]
	path = libs/implot
	url = https://github.com/epezent/implot.git
[submodule "libs/freetype"]
	path = libs/freetype
	url = https://github.com/freetype/freetype
[submodule "libs/nativefiledialog-extended"]
	path = libs/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
	tag = v1.2.1
[submodule "libs/CMakeHelpers"]
	path = libs/CMakeHelpers
	url = https://github.com/halex2005/CMakeHelpers.git
[submodule "libs/WinToast"]
	path = libs/WinToast
	url = https://github.com/mohabouje/WinToast.git
